@font-face {
  font-family: "InterBold";
  src: url(Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(Inter-Regular.ttf);
}

@font-face {
  font-family: "InterMedium";
  src: url(Inter-Medium.ttf);
}


body {
  padding: 0;
  margin: 2vh 2vh;
  height: 96vh;
  width: 97vw;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Inter;
  color: #303030;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  background-color: #eff0f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vh;
  width: 15%;
  height: 94%;
  border-radius: 20px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.025);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 600px;
}

.menu div {
  margin-bottom: 20px;
}

.menu-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 !important;
  color: #3e64d4;
}

.menu-icon {
  display: inline-block;
  background-image: url('icons/bars-solid.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.menu-title button {
  height: 30px;
  width: 30px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #eff0f3;
  border-radius: 5px;
}

.search {
  position: relative;

}

.search input {
  height: 32px;
  width: 85%;
  margin-right: 5%;
  padding-left: 12%;
  background-color: #f6f6f7;
  border: 1px solid rgba(0, 0, 0, 0.095);
  border-radius: 5px;
}

.search input:focus-visible {
  border: 2px solid #2a50c4;
  /* border-color: #2a50c4 !important; */
  outline: #2a50c4;
}

.icon-search {
  display: inline-block;
  background-image: url('icons/magnifying-glass-solid.svg');
  width: 16px;
  height: 16px;
  position: absolute;
  top: 11px;
  left: 12px;
  z-index: 1;
}

.logout button {
  height: 42px;
  padding-left: 5%;
  margin: 0 0 !important;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: none;
  background-color: #eff0f3;
}

.logout button:hover {
  background-color: #ecedf1;
}

.logout button:active {
  background-color: #dbdde0;
}

.logout button h5 {
  margin: 0;
  align-self: center;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  padding-left: 5%;
  color: #303030;
}

.list,
.task {
  max-height: 300px;
  overflow-y: scroll;
}

.icon-logout {
  display: inline-block;
  background-image: url('icons/right-from-bracket-solid.svg');
  width: 14px;
  height: 14px;
  align-self: center;
}

.dynamic-ul li button {
  height: 42px;
  padding-left: 5%;
  margin: 0 0 !important;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: none;
  background-color: #eff0f3;
  align-items: center;
  position: relative;
}

.dynamic-ul li button span {
  display: flex;
  align-items: center;
  height: 25px;
  width: 25px;
  background-color: #e6e9f0;
  justify-content: center;
  border-radius: 5px;
  margin-top: 1px;
  position: absolute;
  right: 6px;
}

button {
  cursor: pointer;
}

.dynamic-ul li button:hover {
  background-color: #ecedf1;
}

.dynamic-ul li button:hover span {
  background-color: #f4f5f7;
}

.dynamic-ul li button:active {
  background-color: #dbdde0;
}

.dynamic-ul li button h5 {
  margin: 0;
  align-self: center;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  padding-left: 10%;
  color: #242424;
}

.dynamic-ul li button i {
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  align-self: center;
}

.dynamic-ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  position: relative;
}

.menu h3 {
  font-size: 14px;
  margin: 0;
  color: #585858;
  font-weight: 600;
}

.option-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.dynamic-ul li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dynamic-ul li select {
  background: #f4f4f4;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 32px;
  border-radius: 5px;
  margin-right: 5px;
  align-self: center;
}

.dynamic-ul li input {
  background: #f4f4f4;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 26px;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
  align-self: center;
}

.add-component {
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top: 0;
  left: 0;
  visibility: hidden;
}

.add-container {
  height: 12vh;
  width: 35vw;
  padding: 40px;
  background-color: #f4f4f4;
  border-radius: 30px;
  box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.025);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-self: center;

}

.add-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  width: 100%;
}

.add-div h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.add-component div select {
  background: #f4f4f4;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 52px;
  border-radius: 5px;
  margin-right: 15px;
  width: 120px;
  align-self: center;
}

.add-component div select option {
  height: 32px;
  padding-left: 5px;
}

.add-component div input {
  background: #f4f4f4;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 52px;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 15px;
  align-self: center;
}

.add-div div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-self: center;
  width: 100%;
}

.add-div div button {
  height: 52px;
  width: 120px;
  background-color: #358ff0;
  color: white;
  border: 1px solid #004085;
  border-radius: 5px;
}

.add-div div button:hover {
  background-color: #58a9ff;
}

.add-div div button:active {
  background-color: #1164bd;
}


/*content section*/
#selectedMenu {
  background-color: #fff;
  height: 96%;
  width: 50%;
  padding: 1% 2%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#body-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 100%;

}

.title {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.title span {
  display: flex;
  align-items: center;
  height: 45px;
  width: 45px;
  background-color: #f0f0f0;
  justify-content: center;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 20px;
  font-family: InterBold;

}

.title span:last-child {
  position: absolute;
  right: 0;
  background-color: #fff;
}

.icon-trash i {
  background-image: url(icons/trash-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 10px;
  width: 10px;
  padding: 5px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content .add-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.content .add-task {
  height: 42px;
  width: 75%;
  padding-left: 30px;
  background-color: #f6f6f7;
  border: 1px solid rgba(0, 0, 0, 0.095);
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 10px 10px 0;

}

.add-task-btn {
  height: 48px;
  width: 20%;
  padding-left: 10px;
  background-color: #FFD33C;
  border: 1px solid rgba(0, 0, 0, 0.095);
  border-radius: 5px;
  font-size: 14px;
  margin: 10px 0;
}

/* .icon {
  display: inline-block;
  width: 3px;
  height: 3px;
  background-image: url('icons/plus-solid.svg');
  align-items: center;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 10px;
} */

.content .btn:hover {
  background-color: #fbfbfb;
}

.content .btn:active {
  background-color: #dfe4eb;
}


.task {
  list-style-type: none;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 0;
}

.task-button {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
  min-height: 58px;
  max-height: 90px;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.055);
  padding-left: 20px;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.task-button:hover {
  background-color: #f8f9fc;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 10px;
}

.task-button:active {
  background-color: #eff0f3;
}

.task-main {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 50px;
}

.task-input {
  margin: 0 10px;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(0, 0, 0, 0.095) !important;
}

.task-input:checked {
  background-color: #2a50c4 !important;
}

.task-button h3 {
  padding: 0 5px;
  font-family: Inter;
  font-weight: 500;
  color: #242424;
  font-size: 16px;
}

.icon {
  display: inline-block;
  width: 3px;
  height: 3px;
  background-image: url('icons/plus-solid.svg');
  align-items: center;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 10px;
}

.task-main span {
  position: absolute;
  right: 15px;
}

.task-button span i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('icons/angle-right-solid.svg');
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.extra {
  padding-left: 40px;
  max-height: 50px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.extra .extra-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
  height: 20px;
}

.extra-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url('icons/calendar-week-solid.svg');
  align-items: start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.extra h4 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 0 5px;
}

.extra-circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  align-self: center;
  background-color: #77dd77;
  border-radius: 50px;
}

#selectedTask {
  background-color: #eff0f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vh;
  width: 25%;
  height: 94%;
  border-radius: 20px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.025);
  position: relative;
}

.at-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.at-content .at-title {
  height: 42px;
  /* width: 100%; */
  padding-left: 10px;
  background-color: #f6f6f7;
  border: 1px solid rgba(0, 0, 0, 0.095);
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 20px;
}

.at-content textarea {
  height: 100px;
  /* width: 100%; */
  font-size: 14px;
  padding: 10px;
  background-color: #f6f6f7;
  border: 1px solid rgba(0, 0, 0, 0.095);
  border-radius: 5px;
  margin-bottom: 20px;
}

.at-content .at-ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.at-content .at-ul li {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  align-items: center;
}

.at-content .at-ul li h3 {
  width: 120px;
  font-size: 14px;
}

.at-content .at-ul li select {
  width: 170px;
  height: 32px;
  background-color: #f6f6f7;
  border: 1px solid rgba(0, 0, 0, 0.095);
  border-radius: 5px;
  padding-left: 5px;
}

.at-content .at-ul li select option {

  height: 32px;
  background-color: #f6f6f7;
  border: 1px solid rgba(0, 0, 0, 0.095);
  border-radius: 5px;
}

.at-content .at-ul li input {
  width: 160px;
  height: 32px;
  background-color: #f6f6f7;
  border: 1px solid rgba(0, 0, 0, 0.095);
  border-radius: 5px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.subtask-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtask-title button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 14px;
  height: 14px;
  border: none;
  background-color: #ebebf0;
  margin-right: 10px;

}

.subtask-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.subtask .btn {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 42px;
  border: none;
  background-color: #e1e4eb;
  margin-bottom: 10px;
  border-radius: 5px;
}

.subtask .btn:hover {
  background-color: #ebebf0;
}

.subtask .btn:active {
  background-color: #d3d6df;
}

.subtask .btn h3 {
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  color: #585858;
}

.subtask-ul .subtask-li {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #eff0f3;
  border: 1px solid rgba(0, 0, 0, 0.055);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.subtask-li button i {
  background-image: url(icons/trash-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 14px;
  width: 14px;
  cursor: pointer;
}

.subtask-li button {
  width: 30px;
  height: 30px;
  display: flex;
  border: none;
}

.subtask-input {
  height: 32px;
  width: 100%;
  padding-left: 10px;
  background-color: #f6f6f7;
  border: 1px solid rgba(0, 0, 0, 0.095);
  border-radius: 5px;
  font-size: 14px;
  margin: 10px 0;
}

.subtask-ul .subtask-li h3 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  color: #585858;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.btns button {
  width: 49%;
  padding: 2%;
  height: 42px;
  border-radius: 5px;
  font-family: Inter;
}

#delete {
  border: 1px solid rgba(0, 0, 0, 0.055);

}

#delete:hover {
  background-color: #e9e9eb;
}

#delete:active {
  background-color: #cbcbcf;
}

#save {
  font-weight: 600;
  /* font-family: InterBold; */
  background-color: #FFD33C;
  border: 1px solid rgba(0, 0, 0, 0.055);
}

#save:hover {
  font-weight: 600;
  /* font-family: InterBold; */
  background-color: #ffe07b;
  border: 1px solid rgba(0, 0, 0, 0.055);
}

#save:active {
  font-weight: 600;
  /* font-family: InterBold; */
  background-color: #e7c34c;
  border: 1px solid rgba(0, 0, 0, 0.055);
}

.at-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-close {
  background-image: url(icons/xmark-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* position: absolute; */
  height: 20px;
  width: 20px;
  /* padding: 5px; */
  cursor: pointer;
  background-color: #ebebf0;
}